@model WebConsultorioOdontologico.Models.Inventario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5">
    <h1>Editar Artículo</h1>

    <h4>Inventario</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Artículo</label>
                    <input asp-for="Articulo" class="form-control" />
                    <span asp-validation-for="Articulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Precio</label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select asp-for="Estado" class="form-select">
                        <option value="1">Disponible</option>
                        <option value="0">No Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver a la Lista</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
