@{
    ViewData["Title"] = "   Dental";
}

<div class="site-blocks-cover" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <span class="sub-text"> Clínica dental</span>
                <h1>CONSULTORIO <strong>ODONTOLÓGICO </strong></h1>
            </div>
        </div>
    </div>
</div>

<div class="site-block-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Higiene Dental</h3>
                        <p> Siempre deben estar conscientes de la importancia de realizarse un procedimiento de higiene dental 1 o 2 veces al año. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-whitening font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Sonrisa Gingival</h3>
                        <p>Una sonrisa gingival es un cambio facial, especialmente centrado en la sonrisa, definido como una exposición excesiva del tejido de la encía o de las encías al sonreír.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="site-block-feature d-flex p-4 rounded mb-4">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-pliers font-weight-light text-white h2"></span>
                    </div>
                    <div class="text">
                        <h3>Muelas del Juicio</h3>
                        <p>Lo que comúnmente se conoce como las muelas de juicio son una serie de dientes llamados terceros molares o dientes cordales. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-block-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/images/img_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <div class="row row-items">
                    <div class="col-md-6">
                        <a href="#" class="d-flex text-center feature active p-4 mb-4">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-tooth-whitening display-3"></span>
                                </span>
                                <h3>Estética Dental</h3>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="d-flex text-center feature p-4 mb-4">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-stethoscope display-3"></span>
                                </span>
                                <h3>Cirugía Dental</h3>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="row row-items last">
                    <div class="col-md-6">
                        <a href="#" class="d-flex text-center feature p-4 mb-4">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-first-aid-kit display-3"></span>
                                </span>
                                <h3>Endodoncia</h3>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="d-flex text-center active feature p-4 mb-4">
                            <span class="align-self-center w-100">
                                <span class="d-block mb-3">
                                    <span class="flaticon-tooth-pliers display-3"></span>
                                </span>
                                <h3>Perodoncia</h3>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@model WebConsultorioOdontologico.Models.Citum

<div class="site-section site-block-appointment">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 mb-5 pl-lg-5 order-1 order-lg-2">
                <div class="pl-lg-5 ml-lg-5">
                    <h2 class="site-heading text-black">Áreas<strong>del</strong> Consultorio Dental</h2>
                    <p class="lead text-black">Una clínica dental es un centro especializado en tratamientos odontológicos, en el que se tratan problemas de salud y estética dental. En esta trabajan los distintos profesionales de la odontología y el personal asistente o auxiliar, quienes utilizan diferentes equipos dentales, instrumental odontológico, mobiliario, materiales dentales para la atención de los pacientes.</p>
                    
                </div>
            </div>

            <div class="col-lg-6 order-2 order-lg-1">
                <p class="site-heading text-black">Los objetivos de nuestro consultorio son:</p>
                <p class="lead text-red">1. Ordenar y planificar el tránsito de los pacientes.</p>
                <p class="lead text-red">2. Organizar las áreas de trabajo.</p>
                <p class="lead text-red">3. Hacer que el consultorio sea un lugar confortable y estético.</p>
                <p class="lead text-red">4. Lograr armonía en las funciones de los colaboradores y pacientes.</p>
            </div>

         </div>
    </div>
</div>

<div class="promo py-5 bg-primary">
    <div class="container text-center">
        <span class="d-block h4 mb-3 font-weight-light text-white">Promocion de la Primera consulta <del>140.00Bs</del> ahora <strong class="font-weight-bold">50.00Bs</strong></span>
        <div id="date-countdown" class="mt-0"></div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="site-heading text-black mb-5"><strong>¿Por qué elegir Nuestra Clínica  ?</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-whitening font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Equipos</h3>
                        <p>Contamos con un equipo de profesionales altamente capacitados y experimentados en una amplia variedad de tratamientos dentales.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-stethoscope font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Tecnologías</h3>
                        <p>Disponemos de las últimas técnica y tecnologías para garantizar los mejores tratamientos dentales para cada caso.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-dentist-chair font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Financiación</h3>
                        <p>Brindamos diferentes opciones de financiación para facilitar a nuestros pacientes cada uno de los tratamientos dentales que necesitan.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-tooth-pliers font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Vanguardia</h3>
                        <p>Utilizamos tecnología de vanguardia para ofrecer los mejores tratamientos dentales en Madrid y optimizar la experiencia de nuestros pacientes.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-first-aid-kit font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Ambiente</h3>
                        <p> Nuestra clínica está diseñada para proporcionar un ambiente cálido y acogedor mientras se recibe el tratamiento dental. Ofrecemos espacios modernos y bien equipados.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="site-block-feature-2 d-flex rounded mb-5">
                    <div class="mr-3">
                        <span class="icon flaticon-dentist-tools font-weight-light "></span>
                    </div>
                    <div class="text">
                        <h3>Tiempo</h3>
                        <p>Nos preocupamos por nuestros pacientes y tomamos el tiempo necesario para conocer cada caso y diseñar un plan de tratamiento personalizado para asegurar un proceso eficaz y adecuado en cada caso.</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="site-block-half d-block d-lg-flex site-block-video">
    <div class="image bg-image order-2" style="background-image: url(images/hero_bg_3.png); ">
        <a href="https://www.youtube.com/watch?v=3epJ4naqZDE" class="play-button popup-vimeo"><span class="icon-play"></span></a>
    </div>
    <div class="text order-1">
        <h2 class="site-heading text-black mb-3">¿Por qué utilizamos <strong>Tecnología Avanzada?</strong></h2>
        <p class="lead">Utilizamos equipos odontológicos de alta tecnología para brindar el más alto nivel de atención a todos nuestros pacientes.</p>
        <p>Ofrecemos a los pacientes los últimos y más innovadores tratamientos odontológicos digitales. Con estas tecnologías de vanguardia, brindamos los mejores servicios de tratamiento para una variedad de afecciones relacionadas con los dientes y las encías.</p>
    </div>

</div>


<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="site-heading text-black">Blog <strong>Pacientes</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="site-block-testimony p-4 text-center">
                    <div class="mb-3">
                        <img src="~/images/person_2.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <p>"Fui a este consultorio odontológico por primera vez hace unos meses, y desde entonces he vuelto varias veces. Me encanta el servicio que brindan. El personal es muy amable y profesional, y siempre se toman el tiempo para explicarme los tratamientos y responder a mis preguntas. El consultorio está limpio y bien equipado, y me siento muy cómoda allí. Sin duda, recomiendo este consultorio a cualquiera que busque atención dental de calidad."</p>
                        <p><strong class="font-weight-bold">Nathalie Guzman</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="site-block-testimony p-4 text-center active">
                    <div class="mb-3">
                        <img src="~/images/person_1.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <p>"Tenía mucho miedo de ir al dentista, pero el equipo de este consultorio me hizo sentir muy cómoda. Me explicaron todo el proceso con claridad, y me hicieron sentir segura en todo momento. El tratamiento fue indoloro, y los resultados fueron excelentes. Estoy muy contenta con la atención que recibí, y sin duda volveré."</p>
                        <p><strong class="font-weight-bold">Linda Duran</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="site-block-testimony p-4 text-center">
                    <div class="mb-3">
                        <img src="~/images/person_3.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div>
                        <p>"Este consultorio es el mejor que he visitado. El personal es muy amable y profesional, y siempre se toman el tiempo para asegurarse de que esté cómoda. El consultorio está limpio y bien equipado, y los tratamientos son de alta calidad. Los precios son muy razonables, y siempre ofrecen descuentos y ofertas especiales. Sin duda, recomiendo este consultorio a cualquiera que busque atención dental de calidad."</p>
                        <p><strong class="font-weight-bold">Chris Flores</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
