@model WebConsultorioOdontologico.Models.Medicamento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5">
    <h1>Editar medicamento</h1>

    <h4>Medicamento</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label"> Nombre completo del Paciente</label>
                    <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                    <span asp-validation-for="IdPaciente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Nombre del Artículo</label>
                    <select asp-for="IdInventario" class="form-control" asp-items="ViewBag.IdInventario"></select>
                    <span asp-validation-for="IdInventario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cantidad</label>
                    <input asp-for="Cantidad" class="form-control" />
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Total</label>
                    <input asp-for="Total" class="form-control" />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select asp-for="Estado" class="form-select">
                        <option value="1">Disponible</option>
                        <option value="0">No Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
