@model WebConsultorioOdontologico.Models.Citum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mx-5">
    <h1>Editar Cita</h1>

    <h4>Citas</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Nombre Completo del Paciente</label>
                    <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                    <span asp-validation-for="IdPaciente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado de cita</label>
                    <select asp-for="IdRegistro" class="form-control" asp-items="ViewBag.IdRegistro"></select>
                    <span asp-validation-for="IdRegistro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de la  Cita</label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Hora de la Cita</label>
                    <input asp-for="Hora" class="form-control" />
                    <span asp-validation-for="Hora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Tratamiento</label>
                    <input asp-for="Tratamiento" class="form-control" />
                    <span asp-validation-for="Tratamiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Pago</label>
                    <input asp-for="Pago" class="form-control" />
                    <span asp-validation-for="Pago" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Pago Pendiente</label>
                    <input asp-for="ACuenta" class="form-control" />
                    <span asp-validation-for="ACuenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select asp-for="Estado" class="form-select">
                        <option value="1">Disponible</option>
                        <option value="0">No Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
