@model WebConsultorioOdontologico.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mx-5">
    <h1 style="color:red">EDITAR USUARIO</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label" style="color:red"> Asignar Personal</label>
                    <select asp-for="IdPersonal" class="form-control" asp-items="ViewBag.IdPersonal"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="color:red">Usuario</label>
                    <input asp-for="Usuario1" class="form-control" />
                    <span asp-validation-for="Usuario1" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UsuarioRegistro" />
                <input type="hidden" asp-for="FechaRegistro" />
                <div class="form-group">
                    <label class="control-label" style="color:red">Estado</label>
                    <select asp-for="Estado" class="form-select">
                        <option value="1">Disponible</option>
                        <option value="0">No Disponible</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
        <a asp-action="Index" style="color:red ">Volver a la lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
