@model WebConsultorioOdontologico.Models.Paciente

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section site-block-3">
    <div class="container">
        <h1 style="color:red">CREAR NUEVO PACIENTE</h1>
        <hr />
        <div class="row" style="background-color: #333333">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Asignar Doctor</label>
                        <select asp-for="IdPersonal" class="form-control" asp-items="ViewBag.IdPersonal"></select>
                        @* <span asp-validation-for="IdPersonal" class="text-danger"></span> *@
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Nombre Completo del Paciente</label>
                        <input asp-for="Nombres" class="form-control" onKeypress="return onlyAlphabets(event, this)" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Cédula de Identidad</label>
                        <input asp-for="CedulaIdentidad" class="form-control" />
                        <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Principales Alergias</label>
                        <select asp-for="Alergias" class="form-control">
                            <option> Guantes de Látex</option>
                            <option> Metales (Cromo)</option>
                            <option>Metales (Niquel)</option>
                            <option>Metales (Cobalto)</option>
                            <option>Metales (Titanio)</option>
                            <option>Metales (Platino)</option>
                            <option>Monómero Acrílico</option>
                            <option>Menta y Pino</option>
                            <option>Anestesia Local</option>
                            <option>Resinas</option>
                            <option>Materiales de Impresión</option>
                            <option>Productos  que contienen Eugenol</option>
                            <option>Materiales de restauración dental</option>
                            <option>Materiales de prótesis dentales</option>
                            <option>Pasta de dientes y enjuagues bucales</option>
                            <option>Material de desinfección</option>
                        </select>
                        <span asp-validation-for="Alergias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Fecha de Nacimiento</label>
                        <input asp-for="FechaNacimiento" class="form-control" type="date" onblur="validateDate(event)" />
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label" style="color:red">Celular</label>
                        <input asp-for="Celular" class="form-control" onKeypress="return onlyNumber(event, this)" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-primary" style="transition: transform 0.2s ease-in-out;" onmouseover="this.style.transform='translateY(-5px)'"/>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <i class="fas fa-share fa-flip-horizontal" style="color:red "></i>
            <a asp-action="Index" style="color:red ">Volver a la lista</a>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
