@model WebConsultorioOdontologico.Models.Paciente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mx-5">
    <h1>Editar Paciente</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Editar Doctor</label>
                    <select asp-for="IdPersonal" class="form-control" asp-items="ViewBag.IdPersonal"></select>
                    @* <span asp-validation-for="IdPersonal" class="text-danger"></span> *@
                </div>
                <div class="form-group">
                    <label class="control-label">Nombres</label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cédula de Identiad</label>
                    <input asp-for="CedulaIdentidad" class="form-control" />
                    <span asp-validation-for="CedulaIdentidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Alergias</label>
                    <select asp-for="Alergias" class="form-control">
                        <option> Guantes de Látex</option>
                        <option> Metales (Cromo)</option>
                        <option>Metales (Niquel)</option>
                        <option>Metales (Cobalto)</option>
                        <option>Metales (Titanio)</option>
                        <option>Metales (Platino)</option>
                        <option>Monómero Acrílico</option>
                        <option>Menta y Pino</option>
                        <option>Anestesia Local</option>
                        <option>Resinas</option>
                        <option>Materiales de Impresión</option>
                        <option>Productos  que contienen Eugenol</option>
                    </select>
                    <span asp-validation-for="Alergias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Fecha de Nacimiento</label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Celular</label>
                    <input asp-for="Celular" class="form-control" />
                    <span asp-validation-for="Celular" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="UsuarioRegistro" />
                <input type="hidden" asp-for="FechaRegistro" />
                <div class="form-group">
                    <label class="control-label">Estado</label>
                    <select asp-for="Estado" class="form-select">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver ala lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
